<div class="playing">
  <% if (@game.player_wins == false) && (@game.dealer_wins == false) && (@game.push == false) %>
    <%= link_to "Hit", hit_game_path(id: @game.id), class: "btn btn-success btn-lg", method: :post %>
    <%= link_to "Stay", stay_game_path(id: @game.id), class: "btn btn-success btn-lg", method: :patch %>
  <% end %>
  <%= link_to "Play Again", games_path, class: "btn btn-success btn-lg", method: :post %>
  <div class="Winner">
    <% if @game.player_wins == true %>
        You win! Congratulations!
    <% elsif @game.dealer_wins == true %>
        Sorry...Dealer wins.
    <% elsif @game.push == true %>
        Push. A tie is not win, but it is not a loss either.
    <% else %>
      Who Shall Win???
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h3>Player Hand</h3>
      <% @game.player_hand.cards.each do |card| %>
          <%= image_tag "#{card.name}#{card.suit}.png" %>
      <% end %>
  </div>
  <div class="col-xs-6">
    <h3>Dealer Hand</h3>
    <% if @game.dealer_hand.cards.count == 2 %>
      <%= image_tag "#{@game.dealer_hand.cards.first.name}#{@game.dealer_hand.cards.first.suit}.png" %>
      <% if @game.dealer_hand.dealer_must_reveal == false %>
        <%= image_tag "card-back.png"%>
      <% else %>
        <%= image_tag "#{@game.dealer_hand.cards.second.name}#{@game.dealer_hand.cards.second.suit}.png" %>
      <% end %>
    <% elsif @game.dealer_hand.cards.count > 2 %>
      <% @game.dealer_hand.cards.each do |card| %>
        <%= image_tag "#{card.name}#{card.suit}.png" %>
      <% end %>
    <% end %>
  </div>

</div>
