<h1>Game#show</h1>
<p>Find me in app/views/game/show.html.erb</p>

<div class="playing">
  <%= link_to "Hit", hit_game_path(id: @game.id), class: "btn btn-success btn-lg", method: :post %>
  <%= link_to "Stay", stay_game_path(id: @game.id), class: "btn btn-success btn-lg", method: :post %>
  <% if (@game.player_hand.total == 21) && (@game.player_hand.cards.count == 2) %>
    <div class="player_blackjack">
      Blackjack!!! Congratulations!!!
    </div>
  <% elsif (@game.dealer_hand.total == 21) && (@game.dealer_hand.cards.count == 2)%>
    <div class="dealer_blackjack">
      Blackjack...for the dealer. You lose.
    </div>
  <% elsif (@game.player_hand.total <= 21) && (@game.player_hand.cards.count == 6) %>
    <div class="six_cards_win">
      Player wins because he drew six cards without going over 21!!!
    </div>
  <% elsif @game.player_hand.total > 21 %>
    <div class="player_busts">
      You busted!!!
    </div>
  <% elsif @game.dealer_hand.total > 21 %>
    <div class="dealer_busts">
      Dealer Busts!!!
    </div>
  <% elsif (@game.dealer_hand.total >= 17)%>
    <% if (@game.player_hand.total > @game.dealer_hand.total) %>
      <div class="player_wins">
        Player Wins!!!
      </div>
    <% elsif (@game.player_hand.total < @game.dealer_hand.total) %>
      <div class="dealer_wins">
        Dealer Wins!!!
      </div>
    <% else %>
      <div class="push">
        Push. It's like kissing your sister.
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-6">
    <h3>Player Hand</h3>
      <% @game.player_hand.cards.each do |card| %>
          <%= image_tag "#{card.name}#{card.suit}.png" %>
      <% end %>
  </div>
  <div class="col-xs-6">
    <h3>Dealer Hand</h3>
    <%= image_tag "#{@game.dealer_hand.cards.first.name}#{@game.dealer_hand.cards.first.suit}.png" %>
    <%= image_tag "card-back.png"%>
  </div>

</div>
